* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00ffcc;
}

.name {
    font-size: 14px;
    opacity: 0.8;
}

.username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.balance-label {
    font-size: 14px;
    opacity: 0.7;
}

.balance {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 20px;
    color: #00ff99;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background: #00ffcc;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00ccaa;
}
